<a href="https://colab.research.google.com/github/KoMurase/Learning_my_interest/blob/master/%E6%96%B0%E8%A6%8F%E3%83%A2%E3%83%87%E3%83%AB_%E3%83%9C%E3%83%BC%E3%83%88%E3%83%AC%E3%83%BC%E3%82%B9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [283]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [284]:
import pandas as pd 

df = pd.read_csv('/content/drive/My Drive/demo/boatrace_data_demo.csv',encoding='utf-8',sep=',')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (119,121,126,131,134,136,139,141,144,146,151,159) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [285]:
print(df.columns)

Index(['日付', 'レース場', 'レースNO', 'グレード', '時刻', 'タイトル', '種類', '節', '進入', '1枠_登録番号',
       ...
       '配当_3連単', '配当_3連複', '配当_2連単', '配当_2連複', '配当_ワイド①', '配当_ワイド②', '配当_ワイド③',
       '配当_単勝', '配当_複勝①', '配当_複勝②'],
      dtype='object', length=167)

In [286]:
for c in df.columns.values:
  print(c)

日付
レース場
レースNO
グレード
時刻
タイトル
種類
節
進入
1枠_登録番号
1枠_氏名
1枠_級別
1枠_F数
1枠_L数
1枠_平均ST
1枠_全国勝率
1枠_全国2連率
1枠_全国3連率
1枠_当地勝率
1枠_当地2連率
1枠_当地3連率
1枠_モーターNO
1枠_モーター2連率
1枠_モーター3連率
1枠_ボートNO
1枠_ボート2連率
1枠_ボート3連率
2枠_登録番号
2枠_氏名
2枠_級別
2枠_F数
2枠_L数
2枠_平均ST
2枠_全国勝率
2枠_全国2連率
2枠_全国3連率
2枠_当地勝率
2枠_当地2連率
2枠_当地3連率
2枠_モーターNO
2枠_モーター2連率
2枠_モーター3連率
2枠_ボートNO
2枠_ボート2連率
2枠_ボート3連率
3枠_登録番号
3枠_氏名
3枠_級別
3枠_F数
3枠_L数
3枠_平均ST
3枠_全国勝率
3枠_全国2連率
3枠_全国3連率
3枠_当地勝率
3枠_当地2連率
3枠_当地3連率
3枠_モーターNO
3枠_モーター2連率
3枠_モーター3連率
3枠_ボートNO
3枠_ボート2連率
3枠_ボート3連率
4枠_登録番号
4枠_氏名
4枠_級別
4枠_F数
4枠_L数
4枠_平均ST
4枠_全国勝率
4枠_全国2連率
4枠_全国3連率
4枠_当地勝率
4枠_当地2連率
4枠_当地3連率
4枠_モーターNO
4枠_モーター2連率
4枠_モーター3連率
4枠_ボートNO
4枠_ボート2連率
4枠_ボート3連率
5枠_登録番号
5枠_氏名
5枠_級別
5枠_F数
5枠_L数
5枠_平均ST
5枠_全国勝率
5枠_全国2連率
5枠_全国3連率
5枠_当地勝率
5枠_当地2連率
5枠_当地3連率
5枠_モーターNO
5枠_モーター2連率
5枠_モーター3連率
5枠_ボートNO
5枠_ボート2連率
5枠_ボート3連率
6枠_登録番号
6枠_氏名
6枠_級別
6枠_F数
6枠_L数
6枠_平均ST
6枠_全国勝率
6枠_全国2連率
6枠_全国3連率
6枠_当地勝率
6枠_当地2連率
6枠_当地3連率
6枠_モーターNO
6枠_モーター2連率
6枠_モーター3連率
6枠_ボートNO
6枠_ボート2連率
6枠_ボート3連率
1枠_体重
1枠_調整体重
1枠_展示タイム
1枠_チルト
1枠_展示ST
2枠_体重
2枠_調整体重
2枠_展示タイム
2枠_チルト
2枠_展示ST
3枠_体重
3枠_調整体重
3枠_展示タイム
3枠_チルト
3枠_展示ST
4枠_体重
4枠_調整体重
4枠_展示タイム
4枠_チルト
4枠_展示ST
5枠_体重
5枠_調整体重
5枠_展示タイム
5枠_チルト
5枠_展示ST
6枠_体重
6枠_調整体重
6枠_展示タイム
6枠_チルト
6枠_展示ST
展示コース
気温
天気
風速
風向き
水温
波高
1着
2着
3着
配当_3連単
配当_3連複
配当_2連単
配当_2連複
配当_ワイド①
配当_ワイド②
配当_ワイド③
配当_単勝
配当_複勝①
配当_複勝②

In [287]:
df_0=df.loc[:,'日付':'進入']
df_0.head()

         日付  レース場  レースNO グレード    時刻          タイトル             種類    節    進入
0  20181221    23      1   G0  8:46    富士通フロンテック杯  予　　選　　　 1800m   初日  通常進入
1  20181221    14      1   G0  8:52  第３回徳島バスカップ競走  一般戦　　　　 1800m  ３日目  通常進入
2  20181221    23      2   G0  9:15    富士通フロンテック杯  予　　選　　　 1800m   初日  通常進入
3  20181221    14      2   G0  9:21  第３回徳島バスカップ競走  一般戦　　　　 1800m  ３日目  通常進入
4  20181221    23      3   G0  9:44    富士通フロンテック杯  予　　選　　　 1800m   初日  通常進入

In [288]:
df_0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39395 entries, 0 to 39394
Data columns (total 9 columns):
日付       39395 non-null int64
レース場     39395 non-null int64
レースNO    39395 non-null int64
グレード     39395 non-null object
時刻       39395 non-null object
タイトル     39395 non-null object
種類       39395 non-null object
節        39395 non-null object
進入       39395 non-null object
dtypes: int64(3), object(6)
memory usage: 2.7+ MB

In [289]:
df_0.columns

Index(['日付', 'レース場', 'レースNO', 'グレード', '時刻', 'タイトル', '種類', '節', '進入'], dtype='object')

In [290]:
df_0['グレード'].value_counts()

G0    33963
G3     2712
G1     1869
G2      470
SG      381
Name: グレード, dtype: int64

In [291]:
df_0['タイトル'].value_counts()

マンスリーＢＯＡＴＲＡＣＥ杯               392
マクール杯                        373
ＢＯＡＴ　Ｂｏｙ　ＣＵＰ                 325
九州スポーツ杯争奪戦                   271
日本財団会長杯争奪戦                   265
日本トーター杯                      260
スポーツ報知杯                      251
サッポロビールカップ                   248
ニッカン・コム杯                     237
ＢＯＡＴＢｏｙＣＵＰ                   189
西日本スポーツ杯                     188
日本財団会長杯                      159
日本モーターボート選手会会長杯争奪戦           154
日本モーターボート選手会会長杯              151
マンスリーＢＯＡＴＲＡＣＥ杯　男女Ｗ優勝戦        144
Ｇ３サッポロビールカップ                 143
楽天銀行杯争奪戦                     142
Ｇ３オールレディース競走                 139
スポーツニッポン杯                    129
デイリースポーツカップ                  128
デイリースポーツ杯                    126
日本ＭＢ選手会会長杯争奪　ダイスポジャンピーカップ    119
トランスワードトロフィー                 118
第１０回ジャパンネット銀行賞               118
公営レーシングプレス杯                  118
ＢＯＡＴ　Ｂｏｙカップ                  117
アクアコンシェルジュカップ                117
日本ＭＢ選手会会長杯                   116
第１４回日刊ゲンダイ杯                   94
宇宙戦艦ヤマト２２０２杯                  84
                            ...
第４３回日刊スポーツ杯                   35
第３６回日本財団会長杯                   35
第２２回　三国競艇大賞                   35
どんたく特選レース                     33
第４６回上毛新聞社杯                    30
第４２回京急電鉄社長杯                   30
２０１９ラピートカップ                   30
夏盛り！！三国観光産業社長杯                28
第３３回グランプリ／グランプリＳ              24
ハマナ娘クルー　クリスマスカップ              24
オラレ下関オープン５周年記念　山口新聞社杯         24
２０１８　Ｘマス＆ファイナルカップ             24
第６回東洋観光グループ杯                  24
ＪＰＦ杯ドッキドキ　ツッピーメイトカップ          24
第３回徳島バスカップ競走                  24
若松夜王Ｓ公営レーシングプレス杯男女Ｗ優勝戦        24
ドラ恋クリスマスカップ                   24
夏のマーゴの湯競走                     23
アサヒスーパードライカップ                 23
ＢＴＳ長洲開設９周年記念　長洲金魚杯            23
第１２回日本モーターボート選手会会長賞争奪戦        23
平成ラストバトル！第９回領巾振山つつじカップ        20
四市組合設立５１周年記念ＢＴＳ市原カップ          20
第４３回デイリースポーツ杯                 18
２０１９三国モーニングラストバトル             12
サンケイスポーツカップ                   12
ＢＴＳ井原開設５周年記念競走                12
Ｇ３キリンカップ２０１９                  12
ニッカン・コム杯・第２回戸田巧者Ｎｏ．１決定戦       12
第１９回日刊ゲンダイ杯                   11
Name: タイトル, Length: 589, dtype: int64

In [0]:
df_0.to_csv('/content/drive/My Drive/demo/boart_demo0.csv',index=True,header=True)

In [293]:
'種類', '節', '進入'

('種類', '節', '進入')

In [294]:
df_0['タイトル'].value_counts()

マンスリーＢＯＡＴＲＡＣＥ杯               392
マクール杯                        373
ＢＯＡＴ　Ｂｏｙ　ＣＵＰ                 325
九州スポーツ杯争奪戦                   271
日本財団会長杯争奪戦                   265
日本トーター杯                      260
スポーツ報知杯                      251
サッポロビールカップ                   248
ニッカン・コム杯                     237
ＢＯＡＴＢｏｙＣＵＰ                   189
西日本スポーツ杯                     188
日本財団会長杯                      159
日本モーターボート選手会会長杯争奪戦           154
日本モーターボート選手会会長杯              151
マンスリーＢＯＡＴＲＡＣＥ杯　男女Ｗ優勝戦        144
Ｇ３サッポロビールカップ                 143
楽天銀行杯争奪戦                     142
Ｇ３オールレディース競走                 139
スポーツニッポン杯                    129
デイリースポーツカップ                  128
デイリースポーツ杯                    126
日本ＭＢ選手会会長杯争奪　ダイスポジャンピーカップ    119
トランスワードトロフィー                 118
第１０回ジャパンネット銀行賞               118
公営レーシングプレス杯                  118
ＢＯＡＴ　Ｂｏｙカップ                  117
アクアコンシェルジュカップ                117
日本ＭＢ選手会会長杯                   116
第１４回日刊ゲンダイ杯                   94
宇宙戦艦ヤマト２２０２杯                  84
                            ...
第４３回日刊スポーツ杯                   35
第３６回日本財団会長杯                   35
第２２回　三国競艇大賞                   35
どんたく特選レース                     33
第４６回上毛新聞社杯                    30
第４２回京急電鉄社長杯                   30
２０１９ラピートカップ                   30
夏盛り！！三国観光産業社長杯                28
第３３回グランプリ／グランプリＳ              24
ハマナ娘クルー　クリスマスカップ              24
オラレ下関オープン５周年記念　山口新聞社杯         24
２０１８　Ｘマス＆ファイナルカップ             24
第６回東洋観光グループ杯                  24
ＪＰＦ杯ドッキドキ　ツッピーメイトカップ          24
第３回徳島バスカップ競走                  24
若松夜王Ｓ公営レーシングプレス杯男女Ｗ優勝戦        24
ドラ恋クリスマスカップ                   24
夏のマーゴの湯競走                     23
アサヒスーパードライカップ                 23
ＢＴＳ長洲開設９周年記念　長洲金魚杯            23
第１２回日本モーターボート選手会会長賞争奪戦        23
平成ラストバトル！第９回領巾振山つつじカップ        20
四市組合設立５１周年記念ＢＴＳ市原カップ          20
第４３回デイリースポーツ杯                 18
２０１９三国モーニングラストバトル             12
サンケイスポーツカップ                   12
ＢＴＳ井原開設５周年記念競走                12
Ｇ３キリンカップ２０１９                  12
ニッカン・コム杯・第２回戸田巧者Ｎｏ．１決定戦       12
第１９回日刊ゲンダイ杯                   11
Name: タイトル, Length: 589, dtype: int64

In [295]:
df_0['種類'].value_counts()

予　　選　　　 1800m    5628
予選　　　　　 1800m    5278
予　選　　　　 1800m    5180
一般戦　　　　 1800m    3058
一　　般　　　 1800m    2350
一　般　　　　 1800m    1816
準優勝戦　　　 1800m    1576
一般　　　　　 1800m    1323
予選特賞　　　 1800m    1279
予選特選　　　 1800m    1004
選抜戦　　　　 1800m     481
優勝戦　　　　 1800m     344
一　般　戦　　 1800m     320
特　　選　　　 1800m     303
特　賞　　　　 1800m     302
選　抜　戦　　 1800m     274
特　　賞　　　 1800m     266
一般特選　　　 1800m     233
モーニング一般 1800m     211
優　勝　戦　　 1800m     209
ドリーム戦　　 1800m     202
特別選抜戦　　 1800m     189
記者選抜戦　　 1800m     171
特　選　　　　 1800m     167
記者選抜　　　 1800m     146
準優進出戦　　 1800m     142
ファーストＢ　 1800m     138
ランチタイム戦 1800m     137
日替艇食戦　　 1800m     136
一般特賞　　　 1800m     136
                 ...
じぶん銀行ＤＲ 1800m       1
ランチタイム　 1200m       1
サントリーＤ戦 1800m       1
チャンポン選抜 1800m       1
つつみん選抜　 1800m       1
Ｄ・Ｒ賞　　　 1200m       1
予選特別選抜　 1200m       1
ＭａｋｅａＤＲ 1800m       1
飛車角戦　　　 1800m       1
プリンセスＤＲ 1800m       1
デイリー選抜　 1800m       1
シリーズ優勝戦 1800m       1
ガァ〜コ選抜　 1800m       1
日野市選抜戦　 1800m       1
雷神ドリーム戦 1800m       1
シモデンＤＲ　 1800m       1
男子準優勝戦　 1800m       1
さん太選抜　　 1800m       1
県内選手権優勝 1800m       1
イースタンＤＲ 1800m       1
モミジドリーム 1800m       1
日刊ドリーム　 1800m       1
澤乃井選抜戦　 1800m       1
シリーズ復活戦 1800m       1
メガトン特選　 1800m       1
ヘビー級ＤＲ　 1800m       1
１ｓｔドリーム 1800m       1
うめぴー特選　 1800m       1
夕刊フジ選抜戦 1800m       1
バトルＤ２ｎｄ 1800m       1
Name: 種類, Length: 415, dtype: int64

In [296]:
df_0['進入'].value_counts()

通常進入     35935
安定板使用     1872
進入固定      1588
Name: 進入, dtype: int64

In [0]:
df_0=df_0.drop(['進入','タイトル'],axis=1)

In [298]:
df_0.head()

         日付  レース場  レースNO グレード    時刻             種類    節
0  20181221    23      1   G0  8:46  予　　選　　　 1800m   初日
1  20181221    14      1   G0  8:52  一般戦　　　　 1800m  ３日目
2  20181221    23      2   G0  9:15  予　　選　　　 1800m   初日
3  20181221    14      2   G0  9:21  一般戦　　　　 1800m  ３日目
4  20181221    23      3   G0  9:44  予　　選　　　 1800m   初日

In [299]:
df_0['種類'].head()

0    予　　選　　　 1800m
1    一般戦　　　　 1800m
2    予　　選　　　 1800m
3    一般戦　　　　 1800m
4    予　　選　　　 1800m
Name: 種類, dtype: object

In [300]:
df_0['節'].value_counts()

２日目    7169
初日     7160
最終日    7101
３日目    7090
４日目    5941
５日目    4551
６日目     381
順延        2
Name: 節, dtype: int64

In [301]:
df_0.columns

Index(['日付', 'レース場', 'レースNO', 'グレード', '時刻', '種類', '節'], dtype='object')

In [0]:
﻿#ボートレース解析用ライブラリ
import os,csv
from datetime import datetime,timedelta
from dateutil.relativedelta import relativedelta
from statistics import mean, median,variance,stdev

#機械学習用ライブラリ
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import log_loss
import xgboost as xgb
import pickle

In [0]:
cols=['レース場','レースNO','グレード', '種類', '節']

for c in cols:
	le = LabelEncoder()
	le.fit(df[c])
	df_0[c] = le.transform(df_0[c])

In [0]:
df_0["時"] = df_0["時刻"].apply(lambda x: x.split(':')[0])
df_0["分"] = df_0["時刻"].apply(lambda x: x.split(':')[1])

df_0=df_0.drop(['時刻'],axis=1)

In [305]:
df_0.head()

         日付  レース場  レースNO  グレード   種類  節  時   分
0  20181221    22      0     0  193  0  8  46
1  20181221    13      0     0  177  4  8  52
2  20181221    22      1     0  193  0  9  15
3  20181221    13      1     0  177  4  9  21
4  20181221    22      2     0  193  0  9  44

In [0]:

df_0=df_0.drop(['日付'],axis=1)

In [307]:
df_0.head()

   レース場  レースNO  グレード   種類  節  時   分
0    22      0     0  193  0  8  46
1    13      0     0  177  4  8  52
2    22      1     0  193  0  9  15
3    13      1     0  177  4  9  21
4    22      2     0  193  0  9  44

In [0]:
for c in df_0.columns.values:
	if(df_0[c].dtypes == "object"):
		df_0[c] = df_0[c].astype(float)

In [309]:
df_0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39395 entries, 0 to 39394
Data columns (total 7 columns):
レース場     39395 non-null int64
レースNO    39395 non-null int64
グレード     39395 non-null int64
種類       39395 non-null int64
節        39395 non-null int64
時        39395 non-null float64
分        39395 non-null float64
dtypes: float64(2), int64(5)
memory usage: 2.1 MB

In [0]:
df_1=df.loc[:,'1枠_登録番号':'1枠_ボート3連率']
df_1.to_csv('/content/drive/My Drive/demo/boart_demo1.csv',index=True,header=True)

In [311]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39395 entries, 0 to 39394
Data columns (total 18 columns):
1枠_登録番号       39395 non-null int64
1枠_氏名         39395 non-null object
1枠_級別         39395 non-null object
1枠_F数         39395 non-null object
1枠_L数         39395 non-null object
1枠_平均ST       39395 non-null object
1枠_全国勝率       39395 non-null float64
1枠_全国2連率      39395 non-null float64
1枠_全国3連率      39395 non-null float64
1枠_当地勝率       39395 non-null float64
1枠_当地2連率      39395 non-null float64
1枠_当地3連率      39395 non-null float64
1枠_モーターNO     39395 non-null int64
1枠_モーター2連率    39395 non-null float64
1枠_モーター3連率    39395 non-null float64
1枠_ボートNO      39395 non-null int64
1枠_ボート2連率     39395 non-null float64
1枠_ボート3連率     39395 non-null float64
dtypes: float64(10), int64(3), object(5)
memory usage: 5.4+ MB

In [0]:
df_1=df_1.drop('1枠_登録番号',axis=1)

In [313]:
df_1['1枠_氏名'].value_counts()

赤岩善生     64
篠崎元志     64
大山千広     61
馬場貴也     60
都築正治     60
岡田憲行     60
林美憲      59
川北浩貴     59
赤坂俊輔     58
石丸海渡     57
西村拓也     56
原田篤志     56
守屋美穂     56
森高一真     56
守田俊介     55
渡邉英児     55
石渡鉄兵     55
市川哲也     55
吉田俊彦     54
山本寛久     54
峰竜太      54
村松修二     54
大場敏      54
須藤博倫     53
江口晃生     53
山田祐也     53
中澤和志     53
秋山直之     53
吉田拡郎     53
深川真二     53
         ..
前原哉       4
井町泰       3
澤大介       3
原田才一郎     3
滝川真由子     3
廣瀬篤哉      3
渡邉千晴      3
勝野竜司      3
櫻本あゆみ     2
向井田真紀     2
宮崎光基      2
羽野諒       2
古場健也      2
阿波勝哉      2
水野要       2
渡辺空依      2
淺田千亜希     2
矢野素也      2
岩井範光      1
小川晃司      1
中村桃佳      1
石間徹       1
森仁志       1
田中博子      1
石原翼       1
宮田龍馬      1
横田悠衣      1
中村稔宏      1
重冨勇哉      1
赤澤文香      1
Name: 1枠_氏名, Length: 1511, dtype: int64

In [314]:
df_1['1枠_モーターNO'].value_counts()

19    696
35    676
30    674
57    673
13    664
33    659
27    657
34    656
53    652
16    651
17    649
56    647
55    644
40    640
15    640
39    638
29    638
11    635
36    632
59    629
52    629
23    627
14    625
51    624
32    624
12    622
58    621
41    609
65    608
21    608
     ...
42    368
72    345
71    323
10    284
73    264
7     192
4     187
8     187
6     187
5     186
2     184
75    183
3     175
74    173
9     168
1     163
76    103
77     67
78     57
79     48
88     32
85     30
81     28
89     26
86     24
80     21
87     21
82     18
83     18
84     15
Name: 1枠_モーターNO, Length: 89, dtype: int64

In [0]:
cols = ['1枠_氏名','1枠_級別']
for c in cols:
  le = LabelEncoder()
  le.fit(df_1[c])
  df_1[c] = le.transform(df_1[c])

In [316]:
df_1[['1枠_氏名','1枠_級別']].head()

   1枠_氏名  1枠_級別
0   1072      0
1    651      1
2   1194      1
3    491      2
4    393      1

In [317]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39395 entries, 0 to 39394
Data columns (total 17 columns):
1枠_氏名         39395 non-null int64
1枠_級別         39395 non-null int64
1枠_F数         39395 non-null object
1枠_L数         39395 non-null object
1枠_平均ST       39395 non-null object
1枠_全国勝率       39395 non-null float64
1枠_全国2連率      39395 non-null float64
1枠_全国3連率      39395 non-null float64
1枠_当地勝率       39395 non-null float64
1枠_当地2連率      39395 non-null float64
1枠_当地3連率      39395 non-null float64
1枠_モーターNO     39395 non-null int64
1枠_モーター2連率    39395 non-null float64
1枠_モーター3連率    39395 non-null float64
1枠_ボートNO      39395 non-null int64
1枠_ボート2連率     39395 non-null float64
1枠_ボート3連率     39395 non-null float64
dtypes: float64(10), int64(4), object(3)
memory usage: 5.1+ MB

In [318]:
df_1[['1枠_F数','1枠_L数','1枠_平均ST']].head()

  1枠_F数 1枠_L数 1枠_平均ST
0    F0    L0    0.17
1    F2    L0    0.13
2    F0    L0    0.17
3    F0    L0    0.18
4    F0    L0    0.17

In [319]:
df_1['1枠_F数'].value_counts()

F0    33639
F1     5598
F2      158
Name: 1枠_F数, dtype: int64

In [0]:
mapping_F={'F0':0,'F1':1,'F2':2}
df_1['1枠_F数']=df_1['1枠_F数'].map(mapping_F)

In [321]:
df_1['1枠_F数'].value_counts()

0    33639
1     5598
2      158
Name: 1枠_F数, dtype: int64

In [322]:
df_1['1枠_L数'].value_counts()

L0    39340
L1       55
Name: 1枠_L数, dtype: int64

In [0]:
mapping_L={'L0':0,'L1':1}
df_1['1枠_L数']=df_1['1枠_L数'].map(mapping_L)

In [324]:
df_1['1枠_平均ST'].value_counts()

0.17    7356
0.16    7110
0.15    5941
0.18    5207
0.19    4008
0.14    3249
0.13    1849
0.2     1553
0.21    1070
0.20     570
0.22     444
0.12     442
0.23     227
0.24     129
-         76
0.11      65
0.25      53
0.26      35
0.28       7
0.27       4
Name: 1枠_平均ST, dtype: int64

In [0]:
df_1['1枠_平均ST']=df_1['1枠_平均ST'].replace('-','0.0')

In [326]:
df_1['1枠_平均ST'].value_counts()

0.17    7356
0.16    7110
0.15    5941
0.18    5207
0.19    4008
0.14    3249
0.13    1849
0.2     1553
0.21    1070
0.20     570
0.22     444
0.12     442
0.23     227
0.24     129
0.0       76
0.11      65
0.25      53
0.26      35
0.28       7
0.27       4
Name: 1枠_平均ST, dtype: int64

In [0]:
#object形式をfloat形式に変換
for c in df_1.columns.values:
	if(df_1[c].dtypes == "object"):
		df_1[c] = df_1[c].astype(float)

In [328]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39395 entries, 0 to 39394
Data columns (total 17 columns):
1枠_氏名         39395 non-null int64
1枠_級別         39395 non-null int64
1枠_F数         39395 non-null int64
1枠_L数         39395 non-null int64
1枠_平均ST       39395 non-null float64
1枠_全国勝率       39395 non-null float64
1枠_全国2連率      39395 non-null float64
1枠_全国3連率      39395 non-null float64
1枠_当地勝率       39395 non-null float64
1枠_当地2連率      39395 non-null float64
1枠_当地3連率      39395 non-null float64
1枠_モーターNO     39395 non-null int64
1枠_モーター2連率    39395 non-null float64
1枠_モーター3連率    39395 non-null float64
1枠_ボートNO      39395 non-null int64
1枠_ボート2連率     39395 non-null float64
1枠_ボート3連率     39395 non-null float64
dtypes: float64(11), int64(6)
memory usage: 5.1 MB

In [329]:
df_2=df.loc[:,'2枠_登録番号':'2枠_ボート3連率']
df_2.head()

   2枠_登録番号 2枠_氏名 2枠_級別 2枠_F数  ... 2枠_モーター3連率 2枠_ボートNO  2枠_ボート2連率  2枠_ボート3連率
0     4866  橋本英一    B1    F0  ...      56.00       85      24.86      40.11
1     3715  倉尾大介    B1    F0  ...      44.37       66      31.91      51.77
2     4760   山崎郡    A1    F0  ...      52.87       55      36.27      52.33
3     4703   森永隆    A2    F0  ...      50.00       26      31.65      47.48
4     3878  胡本悟志    B1    F0  ...      28.13       89      35.35      56.57

[5 rows x 18 columns]

In [0]:
df_2=df_2.drop('2枠_登録番号',axis=1)

In [331]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39395 entries, 0 to 39394
Data columns (total 17 columns):
2枠_氏名         39395 non-null object
2枠_級別         39395 non-null object
2枠_F数         39395 non-null object
2枠_L数         39395 non-null object
2枠_平均ST       39395 non-null object
2枠_全国勝率       39395 non-null float64
2枠_全国2連率      39395 non-null float64
2枠_全国3連率      39395 non-null float64
2枠_当地勝率       39395 non-null float64
2枠_当地2連率      39395 non-null float64
2枠_当地3連率      39395 non-null float64
2枠_モーターNO     39395 non-null int64
2枠_モーター2連率    39395 non-null float64
2枠_モーター3連率    39395 non-null float64
2枠_ボートNO      39395 non-null int64
2枠_ボート2連率     39395 non-null float64
2枠_ボート3連率     39395 non-null float64
dtypes: float64(10), int64(2), object(5)
memory usage: 5.1+ MB

In [0]:
cols = ['2枠_氏名','2枠_級別']
for c in cols:
  le = LabelEncoder()
  le.fit(df_2[c])
  df_2[c] = le.transform(df_2[c])

In [333]:
df_2['2枠_L数'].value_counts()

L0    39343
L1       52
Name: 2枠_L数, dtype: int64

In [0]:
mapping_F={'F0':0,'F1':1,'F2':2}
df_2['2枠_F数']=df_2['2枠_F数'].map(mapping_F)

mapping_L={'L0':0,'L1':1}
df_2['2枠_L数']=df_2['2枠_L数'].map(mapping_L)

In [0]:
df_2['2枠_平均ST']=df_2['2枠_平均ST'].replace('-','0.0')

In [0]:
#object形式をfloat形式に変換
for c in df_2.columns.values:
	if(df_2[c].dtypes == "object"):
		df_2[c] = df_2[c].astype(float)

In [337]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39395 entries, 0 to 39394
Data columns (total 17 columns):
2枠_氏名         39395 non-null int64
2枠_級別         39395 non-null int64
2枠_F数         39395 non-null int64
2枠_L数         39395 non-null int64
2枠_平均ST       39395 non-null float64
2枠_全国勝率       39395 non-null float64
2枠_全国2連率      39395 non-null float64
2枠_全国3連率      39395 non-null float64
2枠_当地勝率       39395 non-null float64
2枠_当地2連率      39395 non-null float64
2枠_当地3連率      39395 non-null float64
2枠_モーターNO     39395 non-null int64
2枠_モーター2連率    39395 non-null float64
2枠_モーター3連率    39395 non-null float64
2枠_ボートNO      39395 non-null int64
2枠_ボート2連率     39395 non-null float64
2枠_ボート3連率     39395 non-null float64
dtypes: float64(11), int64(6)
memory usage: 5.1 MB

In [0]:
df_3=df.loc[:,'3枠_登録番号':'3枠_ボート3連率']

In [0]:
df_3=df_3.drop('3枠_登録番号',axis=1)

cols = ['3枠_氏名','3枠_級別']
for c in cols:
  le = LabelEncoder()
  le.fit(df_3[c])
  df_3[c] = le.transform(df_3[c])

mapping_F={'F0':0,'F1':1,'F2':2}
df_3['3枠_F数']=df_3['3枠_F数'].map(mapping_F)

mapping_L={'L0':0,'L1':1}
df_3['3枠_L数']=df_3['3枠_L数'].map(mapping_L)

df_3['3枠_平均ST']=df_3['3枠_平均ST'].replace('-','0.0')

#object形式をfloat形式に変換
for c in df_3.columns.values:
	if(df_3[c].dtypes == "object"):
		df_3[c] = df_3[c].astype(float)

In [0]:
df_4=df.loc[:,'4枠_登録番号':'4枠_ボート3連率']

In [0]:
df_4=df_4.drop('4枠_登録番号',axis=1)

cols = ['4枠_氏名','4枠_級別']
for c in cols:
  le = LabelEncoder()
  le.fit(df_4[c])
  df_4[c] = le.transform(df_4[c])

mapping_F={'F0':0,'F1':1,'F2':2}
df_4['4枠_F数']=df_4['4枠_F数'].map(mapping_F)

mapping_L={'L0':0,'L1':1}
df_4['4枠_L数']=df_4['4枠_L数'].map(mapping_L)

df_4['4枠_平均ST']=df_4['4枠_平均ST'].replace('-','0.0')

#object形式をfloat形式に変換
for c in df_4.columns.values:
	if(df_4[c].dtypes == "object"):
		df_4[c] = df_4[c].astype(float)

In [0]:
df_5 = df.loc[:,'5枠_氏名':'5枠_ボート3連率']

In [0]:
cols = ['5枠_氏名','5枠_級別']
for c in cols:
  le = LabelEncoder()
  le.fit(df_5[c])
  df_5[c] = le.transform(df_5[c])

mapping_F={'F0':0,'F1':1,'F2':2}
df_5['5枠_F数']=df_5['5枠_F数'].map(mapping_F)

mapping_L={'L0':0,'L1':1}
df_5['5枠_L数']=df_5['5枠_L数'].map(mapping_L)

df_5['5枠_平均ST']=df_5['5枠_平均ST'].replace('-','0.0')

#object形式をfloat形式に変換
for c in df_5.columns.values:
	if(df_5[c].dtypes == "object"):
		df_5[c] = df_5[c].astype(float)

In [0]:
df_6 = df.loc[:,'6枠_氏名':'6枠_ボート3連率']

In [0]:
cols = ['6枠_氏名','6枠_級別']
for c in cols:
  le = LabelEncoder()
  le.fit(df_6[c])
  df_6[c] = le.transform(df_6[c])

mapping_F={'F0':0,'F1':1,'F2':2}
df_6['6枠_F数']=df_6['6枠_F数'].map(mapping_F)

mapping_L={'L0':0,'L1':1}
df_6['6枠_L数']=df_6['6枠_L数'].map(mapping_L)

df_6['6枠_平均ST']=df_6['6枠_平均ST'].replace('-','0.0')

#object形式をfloat形式に変換
for c in df_6.columns.values:
	if(df_6[c].dtypes == "object"):
		df_6[c] = df_6[c].astype(float)

df_7 ~ 13

In [0]:
df_7 = df.loc[:,'1枠_体重':'1枠_展示ST']
df_8 = df.loc[:,'2枠_体重':'2枠_展示ST']
df_9 = df.loc[:,'3枠_体重':'3枠_展示ST']
df_10 = df.loc[:,'4枠_体重':'4枠_展示ST']
df_11 = df.loc[:,'5枠_体重':'5枠_展示ST']
df_12 = df.loc[:,'6枠_体重':'6枠_展示ST']

In [347]:
df_7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39395 entries, 0 to 39394
Data columns (total 5 columns):
1枠_体重       39395 non-null object
1枠_調整体重     39395 non-null float64
1枠_展示タイム    39395 non-null object
1枠_チルト      39395 non-null float64
1枠_展示ST     39395 non-null object
dtypes: float64(2), object(3)
memory usage: 1.5+ MB

In [348]:
df_7['1枠_体重'].head()

0    49.0kg
1    54.4kg
2    51.1kg
3    51.6kg
4    51.5kg
Name: 1枠_体重, dtype: object

In [0]:
df_7['1枠_体重']=df_7['1枠_体重'].str.replace('kg', '')

In [350]:
df_7['1枠_体重'].unique()

array(['49.0', '54.4', '51.1', '51.6', '51.5', '54.8', '53.5', '47.0',
       '53.0', '51.9', '51.4', '49.5', '51.0', '52.0', '45.5', '51.2',
       '55.0', '54.9', '50.0', '52.7', '54.0', '46.0', '52.4', '52.9',
       '52.1', '51.8', '57.1', '52.5', '51.7', '52.2', '56.4', '53.9',
       '52.3', '55.5', '50.5', '51.3', '55.2', '55.1', '54.6', '55.3',
       '49.9', '54.1', '54.5', '58.9', '57.7', '56.2', '53.3', '52.6',
       '60.0', '59.7', '59.0', '58.4', '56.3', '52.8', '53.7', '53.8',
       '57.0', '45.0', '53.6', '54.2', '54.3', '58.5', '57.4', '56.7',
       '53.1', '53.2', '56.1', '61.6', '54.7', '56.6', '53.4', '56.5',
       '55.7', '58.8', '47.8', '48.1', '48.5', '48.3', '57.2', '48.9',
       '55.6', '46.5', '59.8', '44.5', '47.7', '58.0', '47.5', '49.3',
       '55.9', '56.0', '49.7', '50.4', '49.8', '48.4', '55.4', '58.1',
       '47.2', '47.9', '47.6', '58.3', '60.2', '59.3', '58.6', '59.5',
       '47.1', '49.1', '48.2', '57.6', '60.6', '56.9', '48.0', '59.6',
       '50.2', '56.8', '44.0', '49.4', '48.8', '58.7', '60.1', '50.1',
       '55.8', '57.9', '61.4', '49.6', '48.7', '50.3', '61.8', '47.3',
       '60.8', '58.2', '43.5', '47.4', '59.1', '60.7', '49.2', '59.4',
       '59.9', '50.8', '61.0', '57.3', '59.2', '61.3', '57.8', '57.5',
       '48.6', '50.7', '60.3', '61.1', '50.6', '60.9', '50.9', '61.9',
       '60.4', '62.3', '62.2', '61.2', '62.0', '60.5', '61.5', '63.0',
       '62.6', '63.1', '62.7', '62.5', '62.4', '63.9', '62.1', '62.9',
       '63.2', '63.3', '62.8', '61.7'], dtype=object)

In [0]:
df_7['1枠_体重'] = pd.to_numeric(df_7['1枠_体重'])

In [352]:
df_7['1枠_体重'].head()

0    49.0
1    54.4
2    51.1
3    51.6
4    51.5
Name: 1枠_体重, dtype: float64

In [353]:
df_7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39395 entries, 0 to 39394
Data columns (total 5 columns):
1枠_体重       39395 non-null float64
1枠_調整体重     39395 non-null float64
1枠_展示タイム    39395 non-null object
1枠_チルト      39395 non-null float64
1枠_展示ST     39395 non-null object
dtypes: float64(3), object(2)
memory usage: 1.5+ MB

In [0]:
cols = ['1枠_展示タイム','1枠_展示ST']

In [0]:
df_7['1枠_展示タイム'] = df_7['1枠_展示タイム'].replace(' ', np.nan)
df_7['1枠_展示タイム'] = pd.to_numeric(df_7['1枠_展示タイム'])

In [0]:
df_7['1枠_展示ST'] = df_7['1枠_展示ST'].replace('0L',np.nan)

In [0]:
df_7['1枠_展示ST'] = pd.to_numeric(df_7['1枠_展示ST'])

In [358]:
df_7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39395 entries, 0 to 39394
Data columns (total 5 columns):
1枠_体重       39395 non-null float64
1枠_調整体重     39395 non-null float64
1枠_展示タイム    39394 non-null float64
1枠_チルト      39395 non-null float64
1枠_展示ST     39390 non-null float64
dtypes: float64(5)
memory usage: 1.5 MB

In [0]:
df_8['2枠_体重']=df_8['2枠_体重'].str.replace('kg', '')

In [360]:
df_8['2枠_体重'].unique()

array(['53.9', '53.7', '51.0', '51.9', '51.3', '51.7', '50.5', '48.3',
       '49.0', '54.4', '56.8', '51.6', '53.0', '51.4', '53.8', '47.8',
       '52.2', '54.3', '54.0', '51.8', '53.3', '56.0', '52.7', '59.9',
       '53.2', '51.2', '52.3', '56.9', '51.5', '58.0', '54.6', '53.4',
       '52.9', '52.5', '47.0', '52.0', '52.6', '50.0', '52.4', '49.5',
       '50.3', '55.9', '56.7', '55.2', '52.1', '51.1', '60.6', '54.5',
       '56.2', '53.6', '53.5', '52.8', '53.1', '58.1', '54.9', '47.9',
       '55.1', '55.6', '55.3', '55.5', '55.0', '44.5', '44.0', '48.5',
       '58.9', '59.0', '57.4', '57.1', '43.5', '55.7', '56.3', '48.2',
       '59.1', '47.5', '46.5', '54.2', '56.6', '47.7', '45.5', '46.0',
       '50.1', '49.7', '47.6', '57.5', '55.8', '57.0', '59.6', '54.7',
       '57.3', '48.8', '48.0', '47.1', '54.1', '57.6', '55.4', '49.6',
       '54.8', '45.0', '56.4', '57.7', '50.4', '56.1', '49.3', '48.1',
       '58.7', '59.7', '60.2', '58.2', '59.5', '48.4', '47.3', '59.2',
       '57.2', '47.2', '48.9', '49.1', '58.3', '59.8', '49.4', '49.9',
       '56.5', '49.2', '58.5', '62.1', '60.8', '59.3', '50.6', '48.6',
       '50.2', '49.8', '47.4', '58.6', '57.9', '61.2', '61.3', '60.7',
       '60.4', '60.9', '59.4', '50.7', '58.8', '48.7', '50.8', '61.0',
       '58.4', '57.8', '61.4', '61.1', '60.0', '61.8', '42.5', '43.0',
       '60.3', '60.1', '50.9', '62.8', '62.3', '60.5', '61.6', '61.9',
       '61.7', '63.6', '64.2', '62.2', '63.1', '62.4', '63.2', '62.9',
       '63.4', '62.5', '62.0', '62.7', '61.5'], dtype=object)

In [0]:
df_8['2枠_体重'] = pd.to_numeric(df_8['2枠_体重'])

In [0]:
df_8['2枠_展示タイム'] = df_8['2枠_展示タイム'].replace(' ', np.nan)
df_8['2枠_展示タイム'] = pd.to_numeric(df_8['2枠_展示タイム'])

df_8['2枠_展示ST'] = df_8['2枠_展示ST'].replace('0L',np.nan) 
df_8['2枠_展示ST'] = pd.to_numeric(df_8['2枠_展示ST'])

In [0]:
df_9['3枠_体重']=df_9['3枠_体重'].str.replace('kg', '')
df_9['3枠_体重'] = pd.to_numeric(df_9['3枠_体重'])

df_9['3枠_展示タイム'] = df_9['3枠_展示タイム'].replace(' ', np.nan)
df_9['3枠_展示タイム'] = pd.to_numeric(df_9['3枠_展示タイム'])

df_9['3枠_展示ST'] = df_9['3枠_展示ST'].replace('0L',np.nan) 
df_9['3枠_展示ST'] = pd.to_numeric(df_9['3枠_展示ST'])

In [0]:
df_10['4枠_体重']=df_10['4枠_体重'].str.replace('kg', '')
df_10['4枠_体重'] = pd.to_numeric(df_10['4枠_体重'])

df_10['4枠_展示タイム'] = df_10['4枠_展示タイム'].replace(' ', np.nan)
df_10['4枠_展示タイム'] = pd.to_numeric(df_10['4枠_展示タイム'])

df_10['4枠_展示ST'] = df_10['4枠_展示ST'].replace('0L',np.nan) 
df_10['4枠_展示ST'] = pd.to_numeric(df_10['4枠_展示ST'])

In [0]:
df_11['5枠_体重']=df_11['5枠_体重'].str.replace('kg', '')
df_11['5枠_体重'] = pd.to_numeric(df_11['5枠_体重'])

df_11['5枠_展示タイム'] = df_11['5枠_展示タイム'].replace(' ', np.nan)
df_11['5枠_展示タイム'] = pd.to_numeric(df_11['5枠_展示タイム'])

df_11['5枠_展示ST'] = df_11['5枠_展示ST'].replace('0L',np.nan) 
df_11['5枠_展示ST'] = pd.to_numeric(df_11['5枠_展示ST'])

In [0]:
df_12['6枠_体重']=df_12['6枠_体重'].str.replace('kg', '')
df_12['6枠_体重'] = pd.to_numeric(df_12['6枠_体重'])

df_12['6枠_展示タイム'] = df_12['6枠_展示タイム'].replace(' ', np.nan)
df_12['6枠_展示タイム'] = pd.to_numeric(df_12['6枠_展示タイム'])

df_12['6枠_展示ST'] = df_12['6枠_展示ST'].replace('0L',np.nan) 
df_12['6枠_展示ST'] = pd.to_numeric(df_12['6枠_展示ST'])

In [0]:
df_13 = df.loc[:,'展示コース':'3着']

In [370]:
df_13.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39395 entries, 0 to 39394
Data columns (total 10 columns):
展示コース    39395 non-null int64
気温       39395 non-null object
天気       39395 non-null object
風速       39395 non-null object
風向き      39395 non-null object
水温       39395 non-null object
波高       39395 non-null object
1着       39395 non-null int64
2着       39395 non-null int64
3着       39395 non-null int64
dtypes: int64(4), object(6)
memory usage: 3.0+ MB

In [371]:
df_13.head()

    展示コース     気温  天気  風速   風向き     水温   波高  1着  2着  3着
0  123456  14.0℃   晴  0m     0   9.0℃  0cm   4   1   6
1  123456  14.0℃  曇り  1m -0.75  13.0℃  1cm   2   5   3
2  123456  10.0℃  曇り  1m -0.75   9.0℃  1cm   2   1   3
3  123456  11.0℃   晴  1m  0.75  13.0℃  1cm   2   4   5
4  123456  10.0℃   雨  2m -0.75   9.0℃  2cm   1   3   4

In [375]:
df_13.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39395 entries, 0 to 39394
Data columns (total 10 columns):
展示コース    39395 non-null int64
気温       39395 non-null object
天気       39395 non-null object
風速       39395 non-null object
風向き      39395 non-null object
水温       39395 non-null object
波高       39395 non-null object
1着       39395 non-null int64
2着       39395 non-null int64
3着       39395 non-null int64
dtypes: int64(4), object(6)
memory usage: 3.0+ MB

In [0]:
df_13['展示コース'].value_counts()

In [0]:
df_13['気温']=df_13['気温'].str.replace('℃','')
df_13['水温']=df_13['水温'].str.replace('℃','')
df_13['風速']=df_13['風速'].str.replace('m','')
df_13['波高']=df_13['波高'].str.replace('cm','')

In [0]:
le = LabelEncoder()
le.fit(df_13['天気'])
df_13['天気']=le.transform(df_13['天気'])

In [377]:
df_13.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39395 entries, 0 to 39394
Data columns (total 10 columns):
展示コース    39395 non-null int64
気温       39395 non-null object
天気       39395 non-null int64
風速       39395 non-null object
風向き      39395 non-null object
水温       39395 non-null object
波高       39395 non-null object
1着       39395 non-null int64
2着       39395 non-null int64
3着       39395 non-null int64
dtypes: int64(5), object(5)
memory usage: 3.0+ MB

In [0]:
for c in df_13.columns.values:
  if(df_13[c].dtypes == "object"):
    df_13[c]=df_13[c].replace(' ', np.nan)
    df_13[c] = df_13[c].astype(float)

In [388]:
X_data = pd.concat([df_1,df_2,df_3,df_4,df_5,df_6,df_7,df_8,
                    df_9,df_10,df_11,df_12,df_13],axis=1)

   1枠_氏名  1枠_級別  1枠_F数  1枠_L数  1枠_平均ST  1枠_全国勝率  ...   風向き    水温   波高  1着  2着  3着
0   1072      0      0      0     0.17     5.65  ...  0.00   9.0  0.0   4   1   6
1    651      1      2      0     0.13     4.78  ... -0.75  13.0  1.0   2   5   3
2   1194      1      0      0     0.17     5.97  ... -0.75   9.0  1.0   2   1   3
3    491      2      0      0     0.18     3.19  ...  0.75  13.0  1.0   2   4   5
4    393      1      0      0     0.17     5.46  ... -0.75   9.0  2.0   1   3   4

[5 rows x 142 columns]

In [0]:
y = df['単勝結果']